
.zagolovok {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    height: 25px;
font-size: 65px;
}
.container {
    width: auto;
    height:auto;
}
 .p1{
font-size: 65px;
line-height: 200px;
height:10px;
}
.img2 {
top: 0%;
width: 100%;
position: absolute;
z-index: -1;
height: 1050px;
}
.price_container {
    width: 100%;
    height: 951px;
}
ul{
    display:flex;
    font-family: 'Kreon', serif;
}
.arrow1 {
   border-left: 700px solid transparent;
   margin-top: 8px;
   margin-left:100px;
   width: 40%;
}
.p2 {
text-align: right;
    font-size: 45px;
margin-top: -40px;

}
.p1_1 {
    margin-top: 35px;
    font-size: 65px;
    line-height: 0px;
    height: 17px;
}
.arrow2 {
    position: absolute;
    border-left: 550px solid transparent;
    margin-top: -102px;
    margin-left:108px;
   width: 40%;
}
.p2_1 {
    text-align: right;
font-size: 50px;
margin-top: -118px;
}
.p1_2 {
    margin-top: 35px;
    font-size: 65px;
    line-height: 0px;
    height: 17px;
}
.arrow3 {
    position: absolute;
    border-left: 550px solid transparent;
    margin-top: -102px;
    margin-left:95px;
   width: 40%;
}
.p2_2 {
    text-align: right;
    font-size: 50px;
    margin-top: -118px;
}
.p1_3 {
    margin-top: 35px;
    font-size: 65px;
    line-height: 0px;
    height: 17px;
}
.arrow4 {
    position: absolute;
    border-left: 550px solid transparent;
    margin-top: -102px;
    margin-left:97px;
   width: 40%;
}
.p2_3 {
    text-align: right;
    font-size: 50px;
    margin-top: -118px;
}
.p1_4 {
    margin-top: 35px;
    font-size: 65px;
    line-height: 0px;
    height: 17px;
}
.arrow5 {
    position: absolute;
    border-left: 550px solid transparent;
    margin-top: -102px;
    margin-left:96px;
   width: 40%;
}
.p2_4 {
    text-align: right;
    font-size: 50px;
    margin-top: -118px;
}
.p1_5 {
    margin-top: 35px;
    font-size: 65px;
    line-height: 0px;
    height: 17px;
}
.arrow6 {
    position: absolute;
    border-left: 550px solid transparent;
    margin-top: -102px;
    margin-left:96px;
   width: 40%;
}
.p2_5 {
    text-align: right;
    font-size: 50px;
    margin-top: -118px;
}


